.container{
    display: flex;
    border: 1px solid red;


    .products{
        display: flex;
        flex-direction: column;

        .product{
            display: flex;
            border: 1px solid rgb(47, 0, 255);
            align-items: top;
            margin-inline: 2rem;
            
        }


    }
}