 
.navv{
  width: 100%;
  height: 7rem;
  background-color: #0D2613;

  display: flex;
  justify-content: space-around;
  align-items: center;

} 
.navv >div{

  display: flex;
  justify-content:space-between;

}
.navv img{
  width: 20px;
  height: 20px;


}
.navv p{
  color: white;
  padding-inline: 15px;
}
 
 
header {
background-color: gainsboro;
display: flex;
align-items:center;
justify-content: space-around;
background-image: url(../public/Rectangle167.png);
}


ul {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
ul li{
  margin-inline: 1.5rem;
  color: #fff;
  font-weight: 700;
  font-size: 1.8rem;
}

.icons{
  width: 15rem;
}
.icon{
  color: #fff;
  margin-inline: 1rem;
  font-size: 1.8rem;
}
.cunterSapan{
  border: 1px solid rgba(255, 0, 0, 0.281);
  display: inline-block;
  position: absolute;
  top: -1rem;
  left: 2.2rem;
  padding: 0.25rem;
  padding-inline: 0.39rem;
  background-color: red;
  border-radius: 100%;
  font-size: 1.1rem;
}


a,
a:visited {
  text-decoration: none;
  color: #fff;

}

a.activeLink {
  font-weight: 500;
  color: rgb(84, 78, 12);
}
